# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Generated data
data/01_raw/*.csv
data/02_processed/*.csv

# Google Cloud / BigQuery
*.json
.env
profiles.yml


